POSICIONES_ENTRENADORES=[2|4,5|5]
POKEMON_ENTRENADORES=[Bulbasaur,Pichu|Raichu]
OBJETIVOS_ENTRENADORES=[Squirtle|Bulbasaur|Charmander,Pichu|Raichu|Pikachu|Bulbasaur]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=RR
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=192.168.1.35
PUERTO_BROKER=5002
LOG_FILE=/home/utnso/log_team1.txt
PUERTO=5001
ACK_TIMEOUT=99999